.banner {
  height: 223px;
  max-height: 100%;
  max-width: 1240px;
  width: 100%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: url("../../../public/banner-background-image.png");

  @media only screen and (max-width: 600px) {
    height: 111px;
    max-height: 100%;
    border-radius: 10px;
  }

  @media only screen and (min-width: 601px) and (max-width: 900px) {
    max-width: 800px;
  }

  h1 {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%; /* 68.448px */
    text-align: center;
    padding: 20px 20px;

    @media only screen and (max-width: 600px) {
      font-size: 24px;
      text-align: left;
    }
    @media only screen and (min-width: 601px) and (max-width: 900px) {
      font-size: 36px;
    }
  }
}

.banner_about {
  height: 223px;
  max-height: 100%;
  max-width: 1240px;
  width: 100%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;

  @media only screen and (max-width: 600px) {
    height: 111px;
    max-height: 100%;
    border-radius: 10px;
  }

  @media only screen and (min-width: 601px) and (max-width: 900px) {
    max-width: 800px;
  }
  img {
    width: 100%;
    filter: brightness(0.8);
  }
}
