.navigation {
  display: flex;
  flex-direction: row;
  margin: 45px 0px 50px 0px;
  align-items: center;

  img {
    width: 210.32px;
    margin-right: auto;

    @media only screen and (max-width: 600px) {
      width: 145px;
    }
    @media only screen and (min-width: 601px) and (max-width: 900px) {
      width: 177px;
    }
  }
  ul {
    list-style-type: none;
    display: flex;
    gap: 57px;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 500;

    @media only screen and (max-width: 600px) {
      font-size: 12px;
      text-transform: uppercase;
      gap: 30px;
    }
    @media only screen and (min-width: 601px) and (max-width: 900px) {
      font-size: 18px;
    }
  }
  .active {
    color: #000;
    text-decoration: underline;
  }

  .inactive {
    color: #000;
    text-decoration: none;
  }
}
